<html>

<!--body background="background.png"-->
<head>
	<link rel="stylesheet" type="text/css" href="/html/csstest1.css" >
	<style type="text/css">
	h1 {color: Gray}
	p {color: Black}
	p {margin-left: 5px}
	ul {color : Teal}
	</style>
</head>




<body bgcolor="AliceBlue"> 

		<h1 align="center"><bold> Hello </bold></h1>
		<hr/>
		<br/>

	<!--This is a comment -->
	<ul>
		<li><i><big><a href = "/login"> Login </a></big></i></li>
		<li><i><big><a href = "/sign_up"> Sign up </a></big></i></li>
			<p>
			test.
			</p>
	</ul>
	


</body>
</html>


</script>
